// ベースとなる設定

$blue : #003366;
$white : #fff;
$yellow : #FFFF77;
$gray: #999999;

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

.container {
    padding: 0;
    margin: 0;
    width: 100vw;
}
