// ベースとなる設定

$blue : #003366;
$white : #fff;
$yellow : #FFFF77;
$gray: #999999;
$pink: #FF69A3;
$black: #000;

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    position: relative;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.big-content {
    @media(min-width: 1024px) {
        display: flex;
        flex-direction: row-reverse;
        padding: 0 10rem;
    }
}
