header {
    background-color: $blue;
    display: inline-block;
    width: 100%;
    padding: 1rem 2rem;
    
    .top-logo {
        font-size: 2rem;
        color: $white;
        text-decoration: none;
    }
}