//loginのスタイル

.login-form {
    padding: 0 2rem;
    
    .form-group {
        padding-top: 2rem;
    }
    
    .last {
        padding-bottom: 2rem;
    }
    
    .register-link {
        padding-top: 2rem;
    }
}