//loginのスタイル
.login-form {
    padding: 0 2rem;
    width: 100%;
    @media(min-width: 769px) {
        padding: 3rem 5rem 0;
    }
    @media(min-width: 1024px) {
        padding: 3rem 10rem 0;
    }

    &__form-group {
        padding-top: 2rem;
        @media(min-width: 769px) {
            display: flex;
            width: 50%;
            margin: 0 auto;
            padding-bottom: 3rem;
        }
    }
        &__form-group--padding {
            padding-bottom: 2rem;
        }

        &__form-group-label {
            @media(min-width: 769px) {
                width: 50%;
                text-align: center;
                font-size: 1.2rem;
            }
            @media(min-width: 1024px) {
                font-size: 1.4rem;
            }
        }


    &__register-link {
        padding-top: 2rem;
        @media(min-width: 769px) {
            text-align: center;
            font-size: 1.2rem;
        }
    }


    &__btn {
        width: 100%;

        @media(min-width: 769px) {
            width: 30%;
            display: block;
            margin: 0 auto;
            font-size: 1.2rem;
            margin-top: 2rem;
        }
        @media(min-width: 1024px) {
            font-size: 1.4rem;
        }
    }
}
