//micropostsのスタイル
.bigfreme {
    width: 100%;
    width: calc(100% - 4rem);
    margin: 0 auto;
    padding-bottom: 5rem;

    &:first-child {
        padding-top: 12rem;
    }
    
    


    .freme {
        width: 100%; // border: .1rem solid $blue;
        border-radius: .5rem;
        border: .2rem solid $blue;
        padding: 2rem 0;


        p {
            padding: 0 1rem 1rem 0;
            border-bottom: .2rem solid $gray;
            width: 100%;
        }

        .micropost-content {
            display: flex;
            width: calc(100% - 2rem);

            .title {
                margin-left: 2rem;
                width: 35%;

            }
        }

        form {
            display: flex;
            justify-content: flex-end;
        }
    }
}

.create-button {
    position: fixed;
    bottom: 7%;
    right: 2rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
}

.micropost-button {
    display: flex;
    justify-content: space-between;

    .edit-button {
        width: 7rem;
    }

    .destroy-button {
        width: 7rem;
    }
}

.pagination {
    padding-left: 2rem;
}

.fa-heart {
    font-size: 2rem;
    text-align: right;
}



//お気に入りのハートの色をお気に入りしているかで分ける
.unfavorite {
    color: $pink;

}

.favorite-less {
    padding-top: 14rem;
    text-align: center;
}

.nav {

    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 5rem;
    background-color: $blue;
    width: 100%;



    li {
        list-style: none;
        width: 50%;
        text-align: center;

        .nav-link {
            color: $white;
        }
    }

}
