// registerのスタイル

.text-center {
    padding-top: 3rem;
}

.register-form {
    padding: 0 2rem;
    
    .form-group {
        padding-top: 2rem;
    }
    .last {
        padding-bottom: 2rem;
    }
}