// registerのスタイル

.text-center {
    padding-top: 8rem;
    
}

.register-form {
    padding: 0 2rem;
    
    .form-group {
        padding-top: 2rem;
    }
    .last {
        padding-bottom: 2rem;
    }
}