// welcomeのスタイル
.top-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    color: $white;
    width: 100%;
    padding-top: 5rem;


    img {
        width: 100%;
        height: 50vh;
        object-fit: cover;
    }


    .catch {
        position: absolute;
        text-align: center;
        font-size: 1.5rem;
        text-shadow: .1rem .1rem $blue;

        h3 {
            font-size: 2rem;
            padding-bottom: 1rem;
            @media(min-width: 769px) {
                font-size: 2.5rem;
                padding-bottom: 2rem;
            }
            @media(min-width: 1024px) {
                font-size: 3rem;
            }
        }


        p {
            width: 80%;
            margin: 0 auto;
            text-align: justify;
            padding-bottom: 2rem;
            @media(min-width: 769px) {
                width: 70%;
                padding-bottom: 3rem;
            }
            @media(min-width: 1024px) {
                font-size: 1.5rem;
            }
        }

        .register-button {
            margin-right: 2rem;
            @media(min-width: 769px) {
                margin-right: 5rem;
            }
            @media(min-width: 1024px) {
                margin-right: 8rem;
            }
        }

        .btn {
            @media(min-width: 769px) {
                font-size: 1.2rem;
            }
            @media(min-width: 1024px) {
                font-size: 1.4rem;
            }
        }
    }
}

// GoToについての部分
.top-content {
    padding: 3rem 2rem 0;
    width: 100%;
    margin-bottom: 10rem;
    @media(min-width: 769px) {
        padding: 6rem 5rem 0;
    }
    @media(min-width: 1024px) {
        padding: 6rem 10rem 0;
    }

    h2 {
        text-align: center;
        @media(min-width: 769px) {
            font-size: 3rem;
        }
        @media(min-width: 1024px) {
            font-size: 4rem;
        }

    }

    .goto {
        padding-top: 3rem;
        @media(min-width: 769px) {
            padding-top: 6rem;
        }
        h3 {
            display: flex;
            align-items: center;
            @media(min-width: 769px) {
                font-size: 2.5rem;
            }

            strong {
                font-size: 3rem;
                text-shadow: .1rem .1rem 0 $blue, -.1rem .1rem 0 $blue, .1rem -.1rem 0 $blue, -.1rem -.1rem 0 $blue;
                color: $yellow;
                padding-right: 2rem;
            }
        }

        .section-content {
            display: flex;
            align-items: center;
            width: 100%;
            p {
                width: 50%;
                padding-top: 2rem;
                @media(min-width: 769px) {
                    font-size: 1.2rem;
                    padding-right: 3rem;
                }
                @media(min-width: 1024px) {
                    font-size: 1.5rem;
                }
            }

            img {
                width: 50%;
                height: auto;
                object-fit: contain;
            }
        }
    }
}
