* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

.container {
  padding: 0;
  margin: 0;
  width: 100vw;
}

header {
  width: 100%;
  position: fixed;
  background-color: #003366;
  z-index: 99;
}

header .header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem 2rem;
}

header .top-logo {
  font-size: 2rem;
  color: #fff;
  text-decoration: none;
}

header .logout-link {
  color: #fff;
  text-decoration: none;
}

header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .nav li {
  list-style: none;
  width: 50%;
  text-align: center;
}

header .nav li .nav-link {
  color: #fff;
}

.top-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  color: #fff;
  width: 100vw;
  padding-top: 5rem;
}

.top-nav img {
  width: 100vw;
  height: 50vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.top-nav .catch {
  position: absolute;
  text-align: center;
  font-size: 1.5rem;
  text-shadow: 0.1rem 0.1rem #003366;
}

.top-nav .catch p {
  width: 80%;
  margin: 0 auto;
  text-align: justify;
  padding-bottom: 2rem;
}

.top-nav .catch .register-button {
  margin-right: 2rem;
}

.top-content {
  padding: 3rem 2rem 0;
  width: 100vw;
}

.top-content h2 {
  text-align: center;
}

.top-content .goto {
  padding-top: 3rem;
}

.top-content .goto h3 {
  display: flex;
  align-items: center;
}

.top-content .goto h3 strong {
  font-size: 3rem;
  text-shadow: 0.1rem 0.1rem 0 #003366, -0.1rem 0.1rem 0 #003366, 0.1rem -0.1rem 0 #003366, -0.1rem -0.1rem 0 #003366;
  color: #FFFF77;
  padding-right: 2rem;
}

.top-content .goto .section-content {
  display: flex;
  width: 100%;
}

.top-content .goto .section-content p {
  width: 50%;
  padding-top: 2rem;
}

.top-content .goto .section-content img {
  width: 50%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.text-center {
  padding-top: 3rem;
}

.register-form {
  padding: 0 2rem;
}

.register-form .form-group {
  padding-top: 2rem;
}

.register-form .last {
  padding-bottom: 2rem;
}

.login-form {
  padding: 0 2rem;
}

.login-form .form-group {
  padding-top: 2rem;
}

.login-form .last {
  padding-bottom: 2rem;
}

.login-form .register-link {
  padding-top: 2rem;
}

.bigfreme {
  width: 100%;
  width: calc(100% - 4rem);
  margin: 0 auto;
  padding-bottom: 5rem;
}

.bigfreme:first-child {
  padding-top: 14rem;
}

.bigfreme .freme {
  width: 100%;
  border-radius: 0.5rem;
  border: 0.2rem solid #003366;
  padding: 2rem 0;
}

.bigfreme .freme p {
  padding: 0 1rem 1rem 0;
  border-bottom: 0.2rem solid #999999;
  width: 100%;
}

.bigfreme .freme .micropost-content {
  display: flex;
  width: calc(100% - 2rem);
}

.bigfreme .freme .micropost-content .title {
  margin-left: 2rem;
  width: 35%;
}

.create-button {
  position: fixed;
  bottom: 5%;
  right: 2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  font-size: 2rem;
}

.micropost-button {
  display: flex;
  justify-content: space-between;
}

.micropost-button .edit-button {
  width: 7rem;
}

.micropost-button .destroy-button {
  width: 7rem;
}

.pagination {
  padding-left: 2rem;
}

.create-form {
  padding: 12rem 2rem 0;
}

.create-form h2 {
  padding-bottom: 2rem;
}

.create-form .form-group {
  padding-bottom: 2rem;
}

.edit-form {
  padding: 12rem 2rem 0;
}

.edit-form .form-group {
  padding-bottom: 2rem;
}

