* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  position: relative;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

@media (min-width: 1024px) {
  .big-content {
    display: flex;
    flex-direction: row-reverse;
    padding: 0 10rem;
    width: 100%;
  }
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #003366;
  z-index: 99;
}
header .header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem 2rem;
}
@media (min-width: 769px) {
  header .header-top {
    padding: 1rem 5rem;
  }
}
header .header-top__logo {
  font-size: 2rem;
  color: #fff;
  text-decoration: none;
}
@media (min-width: 769px) {
  header .header-top__logo {
    font-size: 2.5rem;
    transition: 0.5s;
  }
  header .header-top__logo:hover {
    transform: scale(1.2);
  }
}
@media (min-width: 1024px) {
  header .header-top__logo {
    font-size: 3rem;
  }
}
header .header-top__btn--logout {
  color: #fff;
  text-decoration: none;
}
@media (min-width: 769px) {
  header .header-top__btn--logout {
    transition: 0.5s;
    font-size: 1.2rem;
  }
  header .header-top__btn--logout:hover {
    transform: scale(1.2);
  }
}
@media (min-width: 1024px) {
  header .header-top__btn--logout {
    font-size: 1.4rem;
  }
}

.top-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  color: #fff;
  width: 100%;
  padding-top: 5rem;
}
.top-nav__img {
  width: 100%;
  height: 50vh;
  object-fit: cover;
}
.top-nav__catch {
  position: absolute;
  text-align: center;
  font-size: 1.5rem;
  text-shadow: 0.1rem 0.1rem #003366;
}
.top-nav__catch-heading {
  font-size: 2rem;
  padding-bottom: 1rem;
}
@media (min-width: 769px) {
  .top-nav__catch-heading {
    font-size: 2.5rem;
    padding-bottom: 2rem;
  }
}
@media (min-width: 1024px) {
  .top-nav__catch-heading {
    font-size: 3rem;
  }
}
.top-nav__catch-text {
  width: 80%;
  margin: 0 auto;
  text-align: justify;
  padding-bottom: 2rem;
}
@media (min-width: 769px) {
  .top-nav__catch-text {
    width: 70%;
    padding-bottom: 3rem;
  }
}
@media (min-width: 1024px) {
  .top-nav__catch-text {
    font-size: 1.5rem;
  }
}
.top-nav__catch-btn--register {
  margin-right: 2rem;
}
@media (min-width: 769px) {
  .top-nav__catch-btn--register {
    margin-right: 5rem;
  }
}
@media (min-width: 1024px) {
  .top-nav__catch-btn--register {
    margin-right: 8rem;
  }
}
@media (min-width: 769px) {
  .top-nav__catch-btn {
    font-size: 1.2rem;
  }
}
@media (min-width: 1024px) {
  .top-nav__catch-btn {
    font-size: 1.4rem;
  }
}

.top-container {
  padding: 3rem 2rem 0;
  width: 100%;
  margin-bottom: 10rem;
}
@media (min-width: 769px) {
  .top-container {
    padding: 6rem 5rem 0;
  }
}
@media (min-width: 1024px) {
  .top-container {
    padding: 6rem 10rem 0;
  }
}
.top-container__heading {
  text-align: center;
}
@media (min-width: 769px) {
  .top-container__heading {
    font-size: 3rem;
  }
}
@media (min-width: 1024px) {
  .top-container__heading {
    font-size: 4rem;
  }
}
.top-container__point {
  padding-top: 3rem;
}
@media (min-width: 769px) {
  .top-container__point {
    padding-top: 6rem;
  }
}
.top-container__point-heading {
  display: flex;
  align-items: center;
}
@media (min-width: 769px) {
  .top-container__point-heading {
    font-size: 2.5rem;
  }
}
.top-container__point-heading--number {
  font-size: 3rem;
  text-shadow: 0.1rem 0.1rem 0 #003366, -0.1rem 0.1rem 0 #003366, 0.1rem -0.1rem 0 #003366, -0.1rem -0.1rem 0 #003366;
  color: #FFFF77;
  padding-right: 2rem;
}
.top-container__point-box {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.top-container__point-text {
  width: 50%;
  padding-right: 2rem;
}
@media (min-width: 769px) {
  .top-container__point-text {
    font-size: 1.2rem;
    padding-right: 3rem;
  }
}
@media (min-width: 1024px) {
  .top-container__point-text {
    font-size: 1.5rem;
  }
}
.top-container__point-img {
  width: 50%;
  height: auto;
  object-fit: contain;
}

.top-heading {
  padding-top: 8rem;
  text-align: center;
}
@media (min-width: 769px) {
  .top-heading {
    padding-top: 10rem;
  }
}

.register-form {
  padding: 0 2rem;
}
@media (min-width: 769px) {
  .register-form {
    padding: 3rem 5rem 0;
  }
}
@media (min-width: 1024px) {
  .register-form {
    padding: 3rem 10rem 0;
  }
}
.register-form__form-group {
  padding-top: 2rem;
}
@media (min-width: 769px) {
  .register-form__form-group {
    display: flex;
    width: 50%;
    margin: 0 auto;
    padding-bottom: 3rem;
  }
}
.register-form__form-group--padding {
  padding-bottom: 2rem;
}
@media (min-width: 769px) {
  .register-form__form-group-label {
    width: 50%;
    text-align: center;
    font-size: 1.2rem;
  }
}
@media (min-width: 1024px) {
  .register-form__form-group-label {
    font-size: 1.4rem;
  }
}
.register-form__btn {
  width: 100%;
}
@media (min-width: 769px) {
  .register-form__btn {
    display: block;
    width: 30%;
    margin: 2rem auto 0;
    font-size: 1.2rem;
  }
}
@media (min-width: 1024px) {
  .register-form__btn {
    font-size: 1.4rem;
  }
}

.login-form {
  padding: 0 2rem;
  width: 100%;
}
@media (min-width: 769px) {
  .login-form {
    padding: 3rem 5rem 0;
  }
}
@media (min-width: 1024px) {
  .login-form {
    padding: 3rem 10rem 0;
  }
}
.login-form__form-group {
  padding-top: 2rem;
}
@media (min-width: 769px) {
  .login-form__form-group {
    display: flex;
    width: 50%;
    margin: 0 auto;
    padding-bottom: 3rem;
  }
}
.login-form__form-group--padding {
  padding-bottom: 2rem;
}
@media (min-width: 769px) {
  .login-form__form-group-label {
    width: 50%;
    text-align: center;
    font-size: 1.2rem;
  }
}
@media (min-width: 1024px) {
  .login-form__form-group-label {
    font-size: 1.4rem;
  }
}
.login-form__register-link {
  padding-top: 2rem;
}
@media (min-width: 769px) {
  .login-form__register-link {
    text-align: center;
    font-size: 1.2rem;
  }
}
.login-form__btn {
  width: 100%;
}
@media (min-width: 769px) {
  .login-form__btn {
    width: 30%;
    display: block;
    margin: 0 auto;
    font-size: 1.2rem;
    margin-top: 2rem;
  }
}
@media (min-width: 1024px) {
  .login-form__btn {
    font-size: 1.4rem;
  }
}

.big {
  width: 100vw;
  padding-bottom: 5rem;
}
@media (min-width: 769px) {
  .big {
    padding: 5rem 5rem 10rem;
  }
}
.big__freme {
  width: 100%;
  width: calc(100% - 4rem);
  margin: 0 auto;
  padding-bottom: 5rem;
}
@media (min-width: 1024px) {
  .big__freme {
    margin: 0;
  }
}
.big__freme:first-child {
  padding-top: 12rem;
}
.big__freme__container {
  width: 100%;
  border-radius: 0.5rem;
  border: 0.2rem solid #003366;
  padding: 2rem 0;
}
.big__freme__container-microposts {
  display: flex;
  width: calc(100% - 2rem);
}
.big__freme__container-text {
  padding: 0 1rem 1rem 0;
  border-bottom: 0.2rem solid #999999;
  width: 100%;
}
@media (min-width: 769px) {
  .big__freme__container-text {
    font-size: 1.2rem;
  }
}
@media (min-width: 1024px) {
  .big__freme__container-text {
    font-size: 1.4rem;
  }
}
.big__freme__container-text--margin {
  margin-left: 2rem;
  width: 35%;
}
.big__freme__container-form {
  display: flex;
  justify-content: flex-end;
}
.big__freme__container-btn {
  font-size: 2rem;
  text-align: right;
}
@media (min-width: 769px) {
  .big__freme__container-btn {
    font-size: 3rem;
    transition: 0.5s;
  }
  .big__freme__container-btn:hover {
    transform: scale(1.3);
  }
}
.big__freme__container-btn--unfavorite {
  color: #FF69A3;
}
.big__freme__micropost-link {
  display: flex;
  justify-content: space-between;
}
.big__freme__micropost-edit-btn {
  width: 7rem;
}
@media (min-width: 769px) {
  .big__freme__micropost-edit-btn {
    transition: 0.5s;
    font-size: 1.2rem;
    width: 8.5rem;
  }
  .big__freme__micropost-edit-btn:hover {
    transform: scale(1.2);
  }
}
@media (min-width: 1024px) {
  .big__freme__micropost-edit-btn {
    font-size: 1.4rem;
    width: 10rem;
  }
}
.big__freme__micropost-delete-btn {
  width: 7rem;
}
@media (min-width: 769px) {
  .big__freme__micropost-delete-btn {
    transition: 0.5s;
    font-size: 1.2rem;
    width: 8.5rem;
  }
  .big__freme__micropost-delete-btn:hover {
    transform: scale(1.2);
  }
}
@media (min-width: 1024px) {
  .big__freme__micropost-delete-btn {
    font-size: 1.4rem;
    width: 10rem;
  }
}
.big .pagination {
  padding-left: 2rem;
}
.big .pagination .page-link {
  padding: 1.5rem;
}
.big__micropost--less, .big__favorite--less {
  padding-top: 14rem;
  text-align: center;
}
@media (min-width: 769px) {
  .big__micropost--less, .big__favorite--less {
    font-size: 1.2rem;
  }
}
@media (min-width: 1024px) {
  .big__micropost--less, .big__favorite--less {
    font-size: 1.4rem;
  }
}
.big__create-btn {
  position: fixed;
  bottom: 7%;
  right: 2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  font-size: 2rem;
}
@media (min-width: 769px) {
  .big__create-btn {
    transition: 0.5s;
    width: 5rem;
    height: 5rem;
    font-size: 2.5rem;
  }
  .big__create-btn:hover {
    transform: scale(1.2);
  }
}
@media (min-width: 1024px) {
  .big__create-btn {
    right: 10rem;
    width: 7rem;
    height: 7rem;
    font-size: 3rem;
  }
}

.create-form {
  padding: 12rem 2rem 0;
}
@media (min-width: 769px) {
  .create-form {
    padding: 12rem 5rem 0;
    width: 100%;
  }
}
@media (min-width: 1024px) {
  .create-form {
    padding: 12rem 10rem 0;
  }
}
.create-form__heading {
  padding-bottom: 2rem;
}
@media (min-width: 769px) {
  .create-form__heading {
    text-align: center;
  }
}
.create-form__form-group {
  padding-bottom: 2rem;
}
@media (min-width: 769px) {
  .create-form__form-group {
    width: 50%;
    margin: 0 auto;
    padding-top: 3rem;
  }
}
@media (min-width: 769px) {
  .create-form__form-group-label {
    font-size: 1.2rem;
  }
}
@media (min-width: 1024px) {
  .create-form__form-group-label {
    font-size: 1.4rem;
  }
}
@media (min-width: 769px) {
  .create-form__form-group-form-area {
    font-size: 1.2rem;
  }
}
@media (min-width: 1024px) {
  .create-form__form-group-form-area {
    font-size: 1.4rem;
  }
}
.create-form__form-group-text-filed {
  height: 15rem !important;
}
.create-form__create-btn {
  width: 100%;
}
@media (min-width: 769px) {
  .create-form__create-btn {
    display: block;
    margin: 2rem auto 0;
    width: 30%;
    font-size: 1.2rem;
  }
}
@media (min-width: 1024px) {
  .create-form__create-btn {
    font-size: 1.4rem;
  }
}

.edit-form {
  padding: 12rem 2rem 0;
}
@media (min-width: 769px) {
  .edit-form {
    padding: 12rem 5rem 0;
    width: 100%;
  }
}
@media (min-width: 1024px) {
  .edit-form {
    padding: 12rem 10rem 0;
  }
}
.edit-form__heading {
  padding-bottom: 2rem;
}
@media (min-width: 769px) {
  .edit-form__heading {
    text-align: center;
  }
}
.edit-form__form-group {
  padding-bottom: 2rem;
}
@media (min-width: 769px) {
  .edit-form__form-group {
    width: 50%;
    padding-top: 3rem;
    margin: 0 auto;
  }
}
@media (min-width: 769px) {
  .edit-form__form-group-label {
    width: 50%;
    font-size: 1.2rem;
  }
}
@media (min-width: 1024px) {
  .edit-form__form-group-label {
    font-size: 1.4rem;
  }
}
@media (min-width: 769px) {
  .edit-form__form-group-form-areal {
    font-size: 1.2rem;
  }
}
@media (min-width: 1024px) {
  .edit-form__form-group-form-areal {
    font-size: 1.4rem;
  }
}
.edit-form__form-group-text-filed {
  height: 15rem !important;
}
.edit-form__edit-btn {
  width: 100%;
}
@media (min-width: 769px) {
  .edit-form__edit-btn {
    width: 30%;
    display: block;
    margin: 2rem auto 0;
    font-size: 1.2rem;
  }
}
@media (min-width: 1024px) {
  .edit-form__edit-btn {
    font-size: 1.4rem;
  }
}

.footer {
  background-color: #003366;
  text-align: center;
  padding: 1rem 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.footer__copy {
  color: #fff;
}
@media (min-width: 769px) {
  .footer__copy {
    font-size: 1.2rem;
  }
}

.nav__lists {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 5rem;
  background-color: #003366;
  width: 100%;
}
@media (min-width: 769px) {
  .nav__lists {
    top: 5.7rem;
  }
}
@media (min-width: 1024px) {
  .nav__lists {
    position: static;
    background-color: #fff;
    width: 30%;
    display: block;
    padding: 17rem 5rem 0 0;
  }
}
.nav__lists-list {
  list-style: none;
  width: 50%;
  text-align: center;
}
@media (min-width: 1024px) {
  .nav__lists-list {
    width: 100%;
    padding-bottom: 5rem;
    text-align: center;
  }
}
.nav__lists-link {
  color: #fff;
  text-decoration: none;
}
@media (min-width: 769px) {
  .nav__lists-link {
    transition: 0.5s;
    display: inline-block;
    font-size: 1.2rem;
  }
  .nav__lists-link:hover {
    transform: scale(1.2);
    color: #fff;
  }
}
@media (min-width: 1024px) {
  .nav__lists-link {
    font-size: 1.4rem;
    position: fixed;
    color: #000;
  }
  .nav__lists-link:hover {
    color: #000;
  }
}

/*# sourceMappingURL=style.css.map */
